main {
  margin: 3vh 8vw;
  transition-duration: 1000ms;
  //   button {
  //     border-radius: 12px;
  //     background-color: rgb(172, 172, 248);
  //   }
  h1 {
    text-transform: capitalize;
  }
  ul {
    margin-top: 3vh;
    list-style: ">";
  }
}
